*{
    padding: 0;
    margin: 0;
}
.Admin{
    margin-right: 15px;
}
h1{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.list{    
    margin-top: 125px;
}
.dis{
    display: flex;
    gap: 50px;
}
.box{
    background-color: rgb(255, 98, 0);
    height: 665px;
    padding: 15px;
    padding-right: 35px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.shopee{
    display: flex;
    gap: 10px;
    color: white;
}
.fa-bag-shopping{
    font-size: 45px;
}
#textS{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.margin{
    margin-top: 15px;
}
.product{
    color: blue;
}
.text{
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 12px;
}
hr{
    margin-top: 15px;
}
.hrEdit{
    width: 175px;
    margin-right: -20px;
}
.fa-bars{
    font-size: 20px;
}

.all{
    display: flex;
}
td{
    text-align: center;
}
th{
    padding: 15px;
}
.text2{
    color: rgb(255, 98, 0);
    margin-bottom: 15px;
}

.color{
    color: rgb(255, 251, 0);
}
/* footer */
.footer{
    margin-top: 70px;
    margin-left: 200px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    width: 800px;
    border: 1px solid rgb(255, 242, 235);
    border-radius: 4px;
}
.footerSon{
    background-color: white;
    width: 100px;
    height: 80px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.botText{
    width: 100px;
}
.all{
    background-color: rgb(250, 250, 250);
}
.textTo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    margin-left: 15px;
}

.colorShopee{
    background-color: rgb(255, 98, 0);
}
.colorText{
    color: white;
}
.fa-users{
    margin-left: -15px;
    font-size: 24px;
    color: rgb(255, 98, 0);
}
.fa-file{
    font-size: 24px;
    margin-left: -20px;
    color: rgb(255, 98, 0);
}
.fa-shopify{
    font-size: 24px;
    color: rgb(255, 98, 0); 
}


/* admin */
.topHeader{
    background-color: white;
    padding: 15px;
    width: 1290px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.topSonHeader{
    display: flex;
    gap: 15px;
    font-size: 24px;
}
.fa-bars{
    margin-top: 5px;
}

/* bảng */
table tr, th, td{
    border: 1px solid black;
}
td{
    padding: 10px;
}
.td{
    padding: 0;
}
td, th{
    padding-right: 45px;
    padding-left: 45px;
}
/* nút sửa xóa */
.button{
    background-color: rgb(255, 98, 0);
    border-radius: 4px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid rgb(255, 98, 0);
    color: white;
}
.editAll{
    padding:30px;
}
